
                            <!DOCTYPE html>
                            <html>
                            <head>
                            <meta charset="utf-8">
                            <meta name="apple-mobile-web-app-capable" content="yes" />
                            <meta name="viewport" content="width=1400, user-scalable=no">
                            <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
                            
                            <title>Marvel's Guardians of the Galaxy | The Official Site | August 1, 2014</title>
                            <meta name="twitter:title" content="Marvel's Guardians of the Galaxy" />
                            <meta name="og:title" content="Marvel's Guardians of the Galaxy" />
                            <meta name="title" content="Marvel's Guardians of the Galaxy" />
                            <meta name="description" content="Marvel’s “Guardians of the Galaxy” finds space adventurer Peter Quill the object of a bounty hunt after stealing an orb coveted by a treacherous villain, but when Quill discovers the power it holds, he must find a way to rally the quartet of ragtag rivals hot on his trail to save the universe. Coming August 1, 2014!" />
                            <meta name="twitter:description" content="Marvel’s “Guardians of the Galaxy” finds space adventurer Peter Quill the object of a bounty hunt after stealing an orb coveted by a treacherous villain, but when Quill discovers the power it holds, he must find a way to rally the quartet of ragtag rivals hot on his trail to save the universe. Coming August 1, 2014!" />
                            <meta name="og:description" content="Marvel’s “Guardians of the Galaxy” finds space adventurer Peter Quill the object of a bounty hunt after stealing an orb coveted by a treacherous villain, but when Quill discovers the power it holds, he must find a way to rally the quartet of ragtag rivals hot on his trail to save the universe. Coming August 1, 2014!" />
                            <meta name="twitter:site" content="@Marvel" />
                            <meta name="twitter:url" content="http://marvel.com/guardians" />
                            <meta name="og:site_name" content="Marvel.com/guardians/" />
                            <meta name="twitter:card" content="summary" />
                            <meta name="twitter:creator" content="@Marvel" />
                            <meta name="twitter:image" content="http://i.annihil.us/u/prod/avengersmovie/guardians/teaser/images/share.jpg" />
                            <meta property="og:image" content="http://i.annihil.us/u/prod/avengersmovie/guardians/teaser/images/share.jpg" />
                            <meta property="og:type" content="website" />
                            <meta property="fb:app_id" content="193166954153103" />
                            <meta name="content-type" content="text/html;charset=utf-8" />
                            <meta name="robots" content="index,follow" />
                            <meta name="keywords" content="chris pratt, dave batista, dave bautista, djimon hounsu, drax, gamora, glenn close, groot, guardians, guardians of the galaxy, james gunn, john c reilly, john reilly, karen gillan, lee pace, marvel, marvel's, marvels, michael rooker, nebula, nova, nova corps, peter quill, rocket raccoon, ronan, slither, star lord, star-lord, starlord, super, zoe saldana, Drax, Groot, Rocket Raccoon, Gamora, Guardians of the Galaxy, Star-Lord (Peter Quill), Guardians of the Galaxy" />
                            
                            <link rel="shortcut icon" href="images/favicon.ico" />
                            <link href='http://fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>
                            <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/f565eddf-b47b-4965-af0e-d05a31be0a5f.css"/>
                            <script>
                            	var
                            		baseURL = "http://i.annihil.us/u/prod/avengersmovie/guardians/teaser/",
                            		absURL = "http://marvel.com/guardians/",
                            		fbApp = '217380841790550',
                            
                            		settingsFile = baseURL+'json/settings25.json';
                            
                            	// detect mobile and redirect
                            	if (navigator.userAgent.match(/iPhone|iPod/i) != null
                            		|| (navigator.userAgent.toLowerCase().indexOf('mobile') != -1 && navigator.userAgent.match(/iPad/i) == null) )
                            	   location.href = absURL+"mobile/";
                            </script>
                            <base href="http://i.annihil.us/u/prod/avengersmovie/guardians/teaser/">
                            
                            
                            
                            <link rel="canonical" href="http://marvel.com/guardians" />
                            <link rel="image_src" type="image/jpeg" href="http://i.annihil.us/u/prod/avengersmovie/guardians/teaser/images/share.jpg" />
                            <link rel="stylesheet" href="js/packages/fancybox/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
                            
                            <link rel="stylesheet" href="css/main11.css">
                            <link rel="stylesheet" href="css/home12.css">
                            <link rel="stylesheet" href="css/videos.css">
                            <link rel="stylesheet" href="css/tickets.css">
                            <link rel="stylesheet" href="css/story2.css">
                            <link rel="stylesheet" href="css/gallery3.css">
                            <link rel="stylesheet" href="css/downloads.css">
                            <link rel="stylesheet" href="css/partners.css">
                            <link rel="stylesheet" href="css/game.css">
                            
                            <script language="JavaScript" type="text/javascript" src="http://admin.brightcove.com/js/BrightcoveExperiences.js"></script>
                            <script language="JavaScript" type="text/javascript" src="http://admin.brightcove.com/js/APIModules_all.js"></script>
                            
                            <script type="text/javascript" src="js/src/modernizr.js"></script>
                            <script type="text/javascript" src="http://marvel.com/i/js/marvel-widgets.js"></script>
                            <script type="text/javascript" src="js/packages/jquery-1.10.2.min.js"></script>
                            <script type="text/javascript" src="js/packages/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>
                            <script type="text/javascript" src="js/packages/jquery-ui-1.10.3.custom.min.js"></script>
                            <script type="text/javascript" src="js/packages/jquery.tinyscrollbar.min.js"></script>
                            <script type="text/javascript" src="js/packages/jquery.ui.touch-punch.min.js"></script>
                            <script type="text/javascript" src="js/packages/jquery.browser.js"></script>
                            <script type="text/javascript" src="js/packages/underscore-min.js"></script>
                            <script type="text/javascript" src="js/packages/greensock/TweenMax.min.js"></script>
                            <script type="text/javascript" src="js/packages/pxloader/PxLoader.js"></script>
                            <script type="text/javascript" src="js/packages/pxloader/PxLoaderImage.js"></script>
                            <script type="text/javascript" src="js/packages/pxloader/PxLoaderVideo2.js"></script>
                            <script type="text/javascript" src="js/packages/soundmanager/soundmanager2-nodebug-jsmin.js"></script>
                            <script type="text/javascript" src="js/packages/mediaelement/mediaelement.min.js"></script>
                            
                            <script type="text/javascript" src="js/src/utils.js"></script>
                            <script type="text/javascript" src="js/src/resizer.js"></script>
                            <script type="text/javascript" src="js/src/history2.js"></script>
                            <script type="text/javascript" src="js/src/tracer.js"></script>
                            <script type="text/javascript" src="js/packages/Sequencer.js"></script>
                            
                            <script type="text/javascript" src="js/src/newsfeed.js"></script>
                            <script type="text/javascript" src="js/src/home7.js"></script>
                            <script type="text/javascript" src="js/src/videos.js"></script>
                            <script type="text/javascript" src="js/src/videoPlayer.js"></script>
                            <script type="text/javascript" src="js/src/videoPlayer3.js"></script>
                            <script type="text/javascript" src="js/src/gallery6.js"></script>
                            <script type="text/javascript" src="js/src/game.js"></script>
                            <script type="text/javascript" src="js/src/story.js"></script>
                            <script type="text/javascript" src="js/src/partners.js"></script>
                            <script type="text/javascript" src="js/src/downloads2.js"></script>
                            <script type="text/javascript" src="js/src/tickets.js"></script>
                            <script type="text/javascript" src="js/src/sounds2.js"></script>
                            <script type="text/javascript" src="js/src/main9.js"></script>
                            
                            <script type="text/javascript">
                            	var URLs = {
                            		'login': 'https://secure.marvel.com/user/login?referer=http%3A%2F%2Fmarvel.com%2Fguardians',
                            		'signup': 'https://secure.marvel.com/user/register?referer=http%3A%2F%2Fmarvel.com%2Fguardians',
                            		'comicReader': 'http://reader.marvel.com/#/issue/',
                            		'rpxWidgetUrl': 'http://widget-cdn.rpxnow.com/js/lib/forge.marvel.com/widget.js',
                            		'rpxWidgetUrlSecure': 'https://rpxnow.com/js/lib/forge.marvel.com/widget.js'
                            	};
                            	MarvelWidgets.init({
                            		home_url: "http://www.marvel.com/guardians",
                            		current_section: "movies",
                            		staging: "http://marvel.com",
                            		targets: {
                            			topnav: "marvelMenu"
                            		},
                            		settings: {
                            			exclude_search: true,
                            			exclude_login: true,
                            			small_nav: true,
                            			version: 2
                            		}
                            	});
                            </script>
                            
                            </head>
                            
                            <!--[if lte IE 9]> <body class="ie9"> <![endif]-->
                            <!--[if gt IE 9]> <body> <![endif]-->
                            <!--[if !IE]><!--> <body> <!--<![endif]-->
                            <div id="fb-root"></div>
                            <div id='marvelMenu'></div>
                            <div id="preloader">
                            	<div id="preloadArt2" class="C"></div>
                            	<div id="preloadArt" class="C">
                                        <img src="images/framework/logo.png" width="339" height="113" alt="Marvel's Guardians of the Galaxy">
                            		<div id="preloadLoop"></div>
                            	</div>
                            </div>
                            <div id="shell" class="absFull">
                            
                            <div id="contentShell" class="abs">
                            	<div id="homeVidShell" class="TL"></div>
                            	<div id="homeMainContentShell" class="TL">
                            		<script type="text/template" id="template-homeMainContentShell">
                            			<div id="homeMainContent" class="TL">
                            				<div id="lineupContent">
                            				<%
                            				_.each( settings.characters.order.desktop, function (o,i,l) {
                            					var char = settings.characters.links[o];
                            				%>
                            					<a href='#' rel='<%= char.id %>' data-char-num="<%= i %>" class="lineupBtn TL">
                            						<div class="facebox TL">
                            							<img src="images/home/faceHighlight.png" width="109" height="117">
                            							<div class="label fontDin"><%= char.label %></div>
                            							<div class="learn fontDin">LEARN MORE</div>
                            
                            						</div>
                            					</a>
                            				<% }) %>
                            				</div>
                            			</div>
                            			<div id="charVidContent" class="TL">
                            				<div id="charBio" class="B charPanel active">
                            					<div class="label fontDinLight">BIO</div>
                            					<div class="mainContent TL">
                            						<a href="#" class="closeBtn TR"></a>
                            						<div id="charName" class="fontDinLight TL"></div>
                            						<div id="charDesc" class="fontDinLight TL"></div>
                            					</div>
                            				</div>
                            				<div id="charVid" class="B charPanel active">
                            					<div class="label fontDinLight">VIDEO</div>
                            				</div>
                            				<div id="charDownload" class="B charPanel active">
                            					<div class="label fontDinLight">DOWNLOADS</div>
                            					<div class="mainContent TL">
                            						<a href="#" class="closeBtn TR"></a>
                            						<div class="thumb TL"></div>
                            						<div class="btns TL">
                            							<a href="#" target="_blank" class="dlBtn" id="fb"></a><!--
                            							--><a href="#" target="_blank" class="dlBtn" id="twitter"></a><!--
                            							--><a href="#" target="_blank" class="dlBtn" id="google"></a><!--
                            							--><a href="#" target="_blank" class="dlBtn" id="wpw"></a><!--
                            							--><a href="#" target="_blank" class="dlBtn" id="wps"></a><!--
                            							--><a href="#" target="_blank" class="dlBtn" id="ipad"></a><!--
                            							--><a href="#" target="_blank" class="dlBtn" id="iphone"></a>
                            						</div>
                            					</div>
                            				</div>
                            				<a href="#" id="charBackBtn" class="L"></a>
                            				<a href="#" id="charNextBtn" class="R"></a>
                            				<a href="#" id="charCloseBtn" class="TR"></a>
                            			</div>
                            			<div id="homeMainLoading" class="TL"></div>
                            		</script>
                            	</div>
                            	<div id="contentFooter" class="TL">
                            	<script type='text/template' id='template-contentFooter'>
                            		<div id="boxShell" class="T">
                            			<div id="box1" class="TL"></div>
                            			<div id="box2" class="TL"></div>
                            			<div id="box3" class="TL"></div>
                            		</div>
                            		<a href="<%= settings.home.gifBtn.link %>" onclick="handleExitLink(); <%= settings.home.gifBtn.tracking %>" target="_blank" id="homeGifBtn" class="TL fontDin" alt="<%= settings.home.gifBtn.altLabel %>"><%= settings.home.gifBtn.label %></a>
                            		<a <%
                            					switch (settings.home.trailerBtn.linkType) {
                            						case "html":
                            							%>href="<%= settings.home.trailerBtn.link %>" target="_blank"<%
                            							break;
                            
                            						case "internal":
                            							%>href="#"<%
                            							break;
                            
                            					}
                            				%>" onclick="<%= settings.home.trailerBtn.tracking %>" id="homeTrailerBtn" class="TL fontDin" alt="<%= settings.home.trailerBtn.altLabel %>"><%= settings.home.trailerBtn.label %></a>
                            	</script>
                            	</div>
                            </div><!-- contentShell -->
                            <div id="headerShell">
                                <div id="header" class="TL">
                                    <script type='text/template' id='template-header'>
                                    <div id="headerBg" class="TL"></div>
                                    <div id="logo" class="TL">
                                        <img src="images/framework/logo2.png" width="305" height="107" alt="Marvel's Guardians of the Galaxy" id="logoImg" class="T">
                            			<div id="releaseDate" class="fontRusso T"><%= getReleaseDate('header') %></div>
                                        <img src="images/framework/3d.png" width="225" height="20" alt="In 3d, Real 3D and IMAX 3D" id="threeDImg" class="T">
                                    </div>
                            		<div class="TR" id="headerTR"><a href="#" id="sound" class="TR"></a></div>
                                    <div class="TL" id="headerTL"><% _.each(settings.social.socialLinks, function(o,i) {
                                        %><a href="<%= o.url %>" class="headerSocialBtn <%= o.id %>" target="_blank" onclick="handleExitLink(); <%= o.tracking %>"></a><%
                                        }); %><div id="news" class="marvelMenuOffset"><div id="newsTitle" class="dosisBold">LATEST NEWS</div><div id="newsContent" class="dosisBold">Loading news...</div></div></div>
                            		<div id="menuBoxShell" class="T"><div id="menuBox"></div></div>
                                    <div id="mainMenuShell" class="TL"><ul id="mainMenu" class="hList"><%
                                        _.each(settings.main.menu, function (o,i) {
                                            if (o.desktop.visible == 'false') return;
                                            var linkObj = parseLinkObject({ link: o.link, linkType: o.linkType, comingSoon: o.desktop.comingSoon == 'true', tracking: o.tracking }),
                            					hrefLink = linkObj.link;
                            				switch (o.linkType) {
                            					case 'html':
                            						break;
                            					case 'javascript':
                            						hrefLink = '#';
                            						break;
                            					case 'internal':
                            						hrefLink = '#/'+linkObj.link;
                            						break;
                            				}
                            
                            
                                            %><li><a href="<%= hrefLink %>" <% if ( linkObj.target != '') print('target="'+linkObj.target+'"'); %> rel="<%- linkObj.link %>" data-linkType="<%- o.linkType %>" class="mainMenuBtn fontDin <%- linkObj.classes %> tweenAll_01" onclick="<%= linkObj.onclick %>"><%- o.label %></a></li><%
                            				if (o.desktop.comingSoon == 'true') {
                            					// coming soon code
                            				}
                                        }) %></ul></div>
                                        <%
                                            _.each(settings.main.promos, function(o,i) {
                                                if (o.visible == 'false') return;
                                                var linkObj = parseLinkObject(o);
                            
                                                %><a href="<%- linkObj.link %>" <% if ( linkObj.target != '') print('target="'+linkObj.target+'"'); %> id="promo<%- o.pos %>" class="headerPromoBtn <%- linkObj.classes %>" onclick="<%- linkObj.onclick %>"></a><%
                                            });
                                        %>
                                    </script>
                                </div>
                            </div><!-- headerShell -->
                            
                            
                            <div id="footerShell" class="BL">
                            <div id="footerBody" class=" TL">
                            <script type='text/template' id='template-footerBody'>
                            		<ul class="TL hList footerBtnsRow">
                            		<% /*	<li class="footerLi fontDin"><a href="#" id="legalBtn" class="fontDin">MORE</a></li> */ %>
                            			<li class="footerLi fontDin">© 2014 MARVEL</li>
                            			<li class="footerLi fontDin"><a target="_blank" href="http://www.marvel.com/corporate/about" onclick="handleExitLink();">MARVEL CORPORATE INFO</a></li>
                            			<li class="footerLi fontDin"><a target="_blank" href="http://www.marvel.com/help?sub=user_help.php" onclick="handleExitLink();">CUSTOMER SERVICE</a></li>
                            			<li class="footerLi fontDin"><a target="_blank" href="http://www.filmratings.com/" onclick="handleExitLink();">FILMRATINGS.COM</a></li>
                            			<li class="footerLi fontDin"><a target="_blank" href="http://www.mpaa.org/" onclick="handleExitLink();">MPAA.ORG</a></li>
                            			<li class="footerLi fontDin"><a target="_blank" href="http://www.marvel.com/corporate/privacy/" onclick="handleExitLink();">PRIVACY POLICY/YOUR CALIFORNIA PRIVACY RIGHTS</a></li>
                            			<li class="footerLi fontDin"><a target="_blank" href="http://www.marvel.com/corporate/terms" onclick="handleExitLink();">TERMS AND CONDITIONS</a></li>
                            			<li class="footerLi fontDin"><div id="ratingBox"><img id="rating" src="images/framework/rating2.png" width="114" height="40" style="margin-right: 3px;" alt="Rated PG13" ></div></li>
                            		</ul>
                            	<div id="footerContent" class="TL">
                            	<!-- <img src="images/framework/billing.png" width="726" height="110" id="billing" alt="Movie Credits" > -->
                            	</div>
                            </script>
                            </div><!-- footerBody -->
                            </div><!-- footerShell -->
                            
                            
                            </div><!-- shell -->
                            
                            <div id="galleryOverlay" class="overlay">
                            	<script type="text/template" id="template-galleryOverlay">
                            	<div class="title TL fontDin">GALLERY</div>
                            	<a href='#' id='closeBtn' class='TR'></a>
                            	<div id='shareBtns' class='TL'><% print(generateShareBar()) %></div>
                            
                            
                            	<div id="galleryContainer" class="TL">
                            		<div id="galleryImgOuterFrame" class="TL">
                            			<div id="galleryImgFrame" class="TL">
                            				<div id="galleryImg" class="TL"></div>
                            			</div>
                            			<a href="#" id="arrowR" class="TR"><div class="art R tweenAll_025"></div></a>
                            			<a href="#" id="arrowL" class="TL"><div class="art L tweenAll_025"></div></a>
                            		</div>
                            			<div id="galleryMenu" class="BL">
                            				<div id="galleryThumbs" class="BL"><%
                            					var galCount = settings.gallery.order.length;
                            					_.each(settings.gallery.order, function (o,i,l) {
                            						var imgObj = settings.gallery.links[o];
                            						%><a href="<%= imgObj.image %>" rel="b<%= i %>" class="galleryOverlayBtn"><img src="<%= imgObj.thumb %>" class="thumb TL" width="120" height="60"></a><%
                            					});
                            				%></div>
                            			</div>
                            			<a href="#" id="galleryMenuLeft" class="BL"></a>
                            			<a href="#" id="galleryMenuRight" class="BR"></a>
                            		</div>
                            
                            	</div>
                            	</script>
                            </div>
                            
                            <div id="storyOverlay" class="overlay">
                            	<script type="text/template" id="template-storyOverlay">
                            	<div class="title TL fontDin"><%= settings.story.title %></div>
                            	<a href='#' id='closeBtn' class='TR'></a>
                            	<div id="storyText" class="TL">
                            		<div id="storyTextInner" class="TL ">
                            			<div class="scrollbar"><div class="track"><div class="trackStart"></div><div class="trackEnd"></div><div class="thumb"><div class="start"></div><div class="end"></div></div></div></div>
                            			<div class="viewport"><div class="overview fontDin"><%= settings.story.desc %></div></div>
                            		</div>
                            	</div>
                            	</script>
                            </div>
                            
                            <div id="ticketsOverlay" class="overlay">
                            	<script type="text/template" id="template-ticketsOverlay">
                            	<div class="title TL fontDin"><%= settings.tickets.title %></div>
                            	<a href='#' id='closeBtn' class='TR'></a>
                            	<div id="ticketsBtns" class="TL"><%
                            			_.each(settings.tickets.links, function (o,i,l) {
                            			%><a href="<%= o.link %>" class="ticketsBtn " rel="<%= o.id %>" target="_blank" onclick="handleExitLink();"><div class="thumb TL"><img src="<%= o.thumb %>" width="384" height="134"></div></a><%
                            			});
                            		%></div>
                            	</script>
                            </div>
                            
                            <div id="partnersOverlay" class="overlay">
                            	<script type="text/template" id="template-partnersOverlay">
                            	<div class="title TL fontDin"><%= settings.partners.title %></div>
                            	<a href='#' id='closeBtn' class='TR'></a>
                            	<div id="partnersBtns" class="TL"><%
                            			_.each(settings.partners.links, function (o,i,l) {
                            			%><a href="<%= o.link %>" class="partnersBtn " rel="<%= o.id %>" target="_blank" onclick="handleExitLink();"><div class="thumb TL"><img src="<%= o.thumb %>" width="384" height="134"></div></a><%
                            			});
                            		%></div>
                            	</script>
                            </div>
                            
                            <div id="gameOverlay" class="overlay">
                            	<script type="text/template" id="template-gameOverlay">
                            	<div class="title TL fontDin"><%= settings.game.title %></div>
                            	<a href='#' id='closeBtn' class='TR'></a>
                            
                            	<div id="imgs" class="TL">
                            		<img src="images/game/img3.jpg" width="252" height="206">
                            		<img src="images/game/img2.jpg" width="252" height="206">
                            		<img src="images/game/img1.jpg" width="252" height="206">
                            	</div>
                            
                            	<div id="btns" class="TL">
                            		<img src="images/game/art.png">
                            		<% if (settings.game.ios.visible == 'true') { %><a href='<%= settings.game.ios.link %>' target='_blank' onclick='handleExitLink();' id="ios"></a><% };
                            		if (settings.game.android.visible == 'true') { %><a href='<%= settings.game.android.link %>' target='_blank' onclick='handleExitLink();' id="android"></a><% }; %>
                            	</div>
                            
                            	<div id="desc" class="fontDin TL"><%= settings.game.desc %></div>
                            	</script>
                            </div>
                            
                            <div id="downloadsOverlay" class="overlay">
                            	<script type="text/template" id="template-downloadsOverlay">
                            	<div class="title TL fontDin"><%= settings.downloads.title %></div>
                            	<a href='#' id='closeBtn' class='TR'></a>
                            	<div id="downloadsOverlayShell" class="TL">
                            		<div class="dlPages TL"><%
                            			_.each(settings.downloads.links, function(o,i,l) {
                            				switch (o.type)  {
                            					case "gif":
                            						%><div class="downloadsTmb TL gif" type="gif" style="background-image: url(<%= baseURL+ o.desktop.thumb %>);">
                            							<div id="anim" class="TL" rel="<%= baseURL+ o.desktop.animatedThumb %>"></div>
                            							<div id="over" class="TL"></div>
                            							<a id="btns"  class="TL" href="<%= o.link %>" target="_blank" rel="gif">
                            								<div id="txt" class="fontDin BL">DOWNLOAD GIF</div>
                            							</a>
                            						</div><%
                            						break;
                            					case "jpg":
                            						%><div class="downloadsTmb TL jpg" type="jpg">
                            							<div class="art TL" style="background-image: url(<%= baseURL+ o.desktop.thumb %>);"></div>
                            							<div id="over" class="TL"></div>
                            							<div id="btns" class="TL count<%= o.links.length > 6 ? 'Long':'Short' %>"><%
                            								_.each(o.links, function (link, j) {
                            									%><a href="<%= link.link %>" target="_blank" rel="<%= link.type %>">
                            										<div id="bg"><img src="<%= baseURL+settings.downloads.jpgIcons[link.type].thumb %>" /></div>
                            									</a><%
                            								});
                            							%></div>
                            						</div><%
                            					break;
                            				}
                            			});
                            		%></div>
                            		<div class="dlNav TL"></div>
                            	</script>
                            </div>
                            
                            <div id="videoOverlay" class="overlay">
                            	<script type="text/template" id="template-videoOverlay">
                            	<div class="title TL fontDin"><%= settings.videos.title %></div>
                            	<div id='shareBtns' class='TL'><% print(generateShareBar()) %></div>
                            	<a href='#' id='closeBtn' class='TR'></a>
                            	<div id="videoShell" class="TL"></div>
                            	<div id="videoMenu" class="TL">
                            		<div id="videoMenuBtns" class="TL"><%
                            			_.each(settings.videos.links, function (o,i,l) {
                            			%><a href="" class="videoBtn " rel="<%= o.id %>"><img src="<%= o.thumb %>" width="126" height="56" class="thumb TL"><div class="TL fontDin label"><%= o.label %></div></a><%
                            			});
                            		%></div>
                            	</div>
                            	</script>
                            </div>
                            
                            <script>
                              window.fbAsyncInit = function() {
                                // init the FB JS SDK
                                FB.init({
                                  appId      : fbApp, // App ID from the App Dashboard
                                  status     : false, // check the login status upon init?
                                  cookie     : false,
                                  xfbml      : false
                                });
                            
                                // Additional initialization code such as adding Event Listeners goes here
                            
                              };
                            
                              // Load the SDK's source Asynchronously
                              (function(d){
                                 var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
                                 if (d.getElementById(id)) {return;}
                                 js = d.createElement('script'); js.id = id; js.async = true;
                                 js.src = "//connect.facebook.net/en_US/all.js";
                                 ref.parentNode.insertBefore(js, ref);
                               }(document));
                            </script>
                            
                            
                            
                            
                            <script>
                              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                            
                              ga('create', 'UA-42435060-2', 'marvel.com');
                              ga('send', 'pageview');
                            
                            </script>
                            <!--
                            Start of DoubleClick Floodlight Tag: Please do not remove
                            Activity name of this tag: P_GOTG_Homepage_Impressions
                            URL of the webpage where the tag is expected to be placed: http://marvel.com/guardians
                            This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
                            Creation Date: 04/15/2014
                            -->
                            <script type="text/javascript">
                            var tagDL = 'p_got469'; // home
                            if (document.location.href.indexOf('#') != -1) {
                            	var hashStr = document.location.href.substring(document.location.href.indexOf('#'));
                            	splitStr = hashStr.split('/')[1].split('?')[0];
                            	switch (splitStr) {
                            			case 'downloads': tagDL = 'P_GOT001'; break;
                            			case 'gallery': tagDL = 'P_GOT000'; break;
                            			case 'story': tagDL = 'P_GOT00'; break;
                            			case 'videos': tagDL = 'P_GOT0'; break;
                            	}
                            }
                            var axel = Math.random() + "";
                            var a = axel * 10000000000000;
                            document.write('<iframe src="http://3944448.fls.doubleclick.net/activityi;src=3944448;type=p_gua136;cat='+tagDL+';ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
                            </script>
                            <noscript>
                            <iframe src="http://3944448.fls.doubleclick.net/activityi;src=3944448;type=p_gua136;cat=p_got46;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
                            </noscript>
                            <!-- End of DoubleClick Floodlight Tag: Please do not remove -->
                            </body>
                            </html>
